<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ocwvar.darkpurple"
    tools:ignore="InnerclassSeparator">

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission-sdk-23 android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission-sdk-23 android:name="android.permission.RECORD_AUDIO" />
    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="ndroid.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!--友盟-->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".DPApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--网易云捕-->
        <meta-data
            android:name="BUGRPT_APPID"
            android:value="A008251242" />

        <!--主框架界面-->
        <activity
            android:name=".Activities.MainFrameworkActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--播放界面-->
        <activity
            android:name=".Activities.PlayingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.PlayingActivity" />

        <!--设置界面-->
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/SettingsTheme" />

        <!--播放列表编辑界面-->
        <activity
            android:name=".Activities.PlaylistDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--均衡器设置界面-->
        <activity
            android:name=".Activities.EqualizerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />

        <!--封面下载界面-->
        <activity
            android:name=".Activities.DownloadCoverActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--文件夹选择界面-->
        <activity
            android:name=".Activities.MusicDirectorySelector"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--扫描目录设置界面-->
        <activity
            android:name=".Activities.MusicDirectoryActivity"
            android:label="@string/musicFolder_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--媒体服务-->
        <service
            android:name=".Services.MediaPlayerService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>

        <!-- FileProvider 权限申请 -->
        <!-- FileProvider Permission request -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="FProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>