<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ocwvar.darkpurple"
    tools:ignore="InnerclassSeparator">

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.BLUETOOTH" />
    <uses-permission-sdk-23 android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!--以下为网易云捕所需权限-->
    <uses-permission-sdk-23 android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_LOGS" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--以下为网易云捕所需权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".Units.OCExceptionHandler"
        android:theme="@style/AppTheme"
        >
        <meta-data android:name="BUGRPT_APPID" android:value="A008251242"/>
        <activity
            android:name=".Activities.SelectMusicActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.PlayingActivity"
            android:theme="@style/AppTheme.NoActionBar.PlayingActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/SettingsTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Activities.FolderSelectorActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/musicFolder_name"/>

        <activity
            android:name=".Activities.PlaylistDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".Activities.DownloadCoverActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".Activities.FolderSelectorUI"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_select_folder_ui"
            android:screenOrientation="portrait"
            />

        <service android:name=".Services.AudioService"/>

        <receiver android:name=".Services.HeadsetButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>